body {
    font-family: "Apple Chancery", "Lucida Handwriting", cursive;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #008C45 0%, #008C45 50%, #CD212A 50%, #CD212A 100%);
}

main {

    background-color: #F4F5F0;
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 20px;
    min-height: 100vh;
}

main h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

header {
    background-color: rgb(59, 8, 8);
    margin-top: 0;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header a {
    color: white;

}

input {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #008C45;
    border: none;
    color: #F4F5F0;
    cursor: pointer;
}

#msg {
    color: red;
    margin-top: 10px;
}

#dashboard {
    display: none;
}