body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008C45;
}

main {

    background-color: white;
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 20px;
}

main h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

header {
    background-color: brown;
    margin-top: 0;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header a {
    color: white;

}

input {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 4px 4px 0 0;
    cursor: pointer;
}

#msg {
    color: red;
    margin-top: 10px;
}

#dashboard {
    display: none;
}